<div class="about">
    <h1 >Our Team</h1>

    <p>
        Our mixologists bring a wealth of experience from renowned venues in Belfast,
        such as House Belfast, The Merchant Hotel, Margot and many more.
    </p>

    <p>
        We also work with resident DJs from across Belfat who you can have at your event included in your booking with us
    </p>

    <p>
        Blending refined technique with creative flair. With a strong background in both high-end hospitality and private cocktail events,
        we deliver a polished, professional service tailored to each occasion.
    </p>

</div>