<div class="menu">

    <h1>Example Menu</h1>

    <p>
        Mojito
    </p>
    <p>
        White rum, mint leaves, lime juice, sugar, soda water
    </p>

    <p>
        Margarita
    </p>
    <p>
        Tequila, triple sec, lime juice, sugar, salt rim
    </p>

    <p>
        Espresso Martini
    </p>
    <p>
        Vodka, coffee liqueur, espresso, sugar syrup
    </p>

    <p>
        Piña Colada
    </p>
    <p>
        White rum, malibu, cream, pineapple juice, lime, cocnut
    </p>

    <p>
        Whiskey Sour
    </p>
    <p>
        Bourbon, lemon juice, sugar, bitters, egg white (optional)
    </p>

    <p>
        Aperol Spritz
    </p>
    <p>
        Aperol, prosecco, soda water, orange slice
    </p>

</div>