<div class="packages">

    <h1>What We Offer</h1>

    <p>
        You can fully customise your experience with us, just drop an e-mail to pick out your perfect day.
        Check below for some of our most popular packages.
    </p>

    <p>
        The Signature Soirée -
        Elevate your event with our bespoke cocktail service
    </p>

    <p>
        Mixology Masterclass -
        Learn the trade with classes hosted by our professional mixologists
    </p>

    <p>
        The Whole Nine -
        With a cocktail bar and in-house DJ - You bring the people, we'll bring the party
    </p>

    <p>
        Corporate Craft -
        Classes and events perfect for client entertainment, brand-launching and team-building
    </p>

</div>